# Init

In [1]:
import logging

logging.basicConfig(format='\033[93m%(asctime)s %(levelname)s %(name)s:\033[0m %(message)s', level=logging.INFO, datefmt='%I:%M:%S')
import warnings
import pandas as pd

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
warnings.simplefilter(action="ignore", category=pd.errors.SettingWithCopyWarning)

# Stock quoute loader

In [2]:
from src.loader.yahoo.yahoo_stock_quote_loader import YahooStockQuoteLoader, date, TimeFrame, pd
from src.cache import FileCache
ysql = YahooStockQuoteLoader(FileCache("./output_files"))

## Download one

In [3]:
ysql.download("AAPL", date_from=date(2020,2,1), date_till=date(2021,2,10), timeframe=TimeFrame.D)

05:37:26 INFO FileCacheLoader: Load df from file ./output_files/YahooStockQuoteLoader__AAPL__2020-02-01__2021-02-10__Day.csv
05:37:26 INFO AbsStockQuoteLoader: Cached data found

                       open        high         low       close     volume
start_date_time
2020-02-03        76.074997   78.372498   75.555000   77.165001  173788400
2020-02-04        78.827499   79.910004   78.407501   79.712502  136616400
2020-02-05        80.879997   81.190002   79.737503   80.362503  118826800
2020-02-06        80.642502   81.305000   80.065002   81.302498  105425600
2020-02-07        80.592499   80.849998   79.500000   80.007500  117684000
...                     ...         ...         ...         ...        ...
2021-02-03       135.759995  135.770004  133.610001  133.940002   89880900
2021-02-04       136.300003  137.399994  134.589996  137.389999   84183100
2021-02-05       137.350006  137.419998  135.860001  136.759995   75693800
2021-02-08       136.029999  136.960007  134.919998  136.910004   71297200
2021-02-09       136.619995  137.880005  135.850006  136.009995   76774200

[258 rows x 5 columns]

In [4]:
ysql.download("AAPL", date_from=date(2020,2,1), date_till=date(2021,2,10), timeframe=TimeFrame.D)

05:37:28 INFO FileCacheLoader: Load df from file ./output_files/YahooStockQuoteLoader__AAPL__2020-02-01__2021-02-10__Day.csv
05:37:28 INFO AbsStockQuoteLoader: Cached data found

                       open        high         low       close     volume
start_date_time
2020-02-03        76.074997   78.372498   75.555000   77.165001  173788400
2020-02-04        78.827499   79.910004   78.407501   79.712502  136616400
2020-02-05        80.879997   81.190002   79.737503   80.362503  118826800
2020-02-06        80.642502   81.305000   80.065002   81.302498  105425600
2020-02-07        80.592499   80.849998   79.500000   80.007500  117684000
...                     ...         ...         ...         ...        ...
2021-02-03       135.759995  135.770004  133.610001  133.940002   89880900
2021-02-04       136.300003  137.399994  134.589996  137.389999   84183100
2021-02-05       137.350006  137.419998  135.860001  136.759995   75693800
2021-02-08       136.029999  136.960007  134.919998  136.910004   71297200
2021-02-09       136.619995  137.880005  135.850006  136.009995   76774200

[258 rows x 5 columns]

## Download many

In [5]:
stock_list = [
"AMD",
"KO",
"CAT",
"CSCO",
"FDX",
"F",
"GS",
"INTC",
"JNJ",
"LOGI",
"MCD",
"MSFT",
"MS",
"NVDA",
"^IXIC",
"PFE",
"SIE.BE",
"TCS.IL",
"UPS",
"YNDX",
"RUB=X",
"EURUSD=X"]

In [2]:
date_from = date(2020,1,1)
date_till = date(2022,11,29)

In [6]:
data_dic = ysql.download_many(stock_list, date_from, date_till, TimeFrame.D)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
data_dic

{'AMD':                       open       high        low      close    volume
 start_date_time
 2020-01-02       46.860001  49.250000  46.630001  49.099998  80331100
 2020-01-03       48.029999  49.389999  47.540001  48.599998  73127400
 2020-01-06       48.020000  48.860001  47.860001  48.389999  47934900
 2020-01-07       49.349998  49.389999  48.040001  48.250000  58061400
 2020-01-08       47.849998  48.299999  47.139999  47.830002  53767000
 ...                    ...        ...        ...        ...       ...
 2022-11-18       75.070000  75.349998  72.180000  73.570000  73194200
 2022-11-21       72.209999  72.980003  71.570000  72.459999  51536300
 2022-11-22       72.720001  75.330002  72.110001  75.250000  55450200
 2022-11-23       75.489998  78.220001  75.300003  76.400002  81623600
 2022-11-25       75.669998  76.040001  74.750000  75.139999  26018900

 [732 rows x 5 columns],
 'KO':                       open       high        low      close    volume
 start_date_time
 2020-01-02       55.320000  55.430000  54.759998  54.990002  11867700
 2020-01-03       54.320000  54.990002  54.090000  54.689999  11354500
 2020-01-06       54.650002  54.910000  54.520000  54.669998  14698300
 2020-01-07       54.450001  54.599998  54.150002  54.250000   9973900
 2020-01-08       54.270000  54.639999  54.150002  54.349998  10676000
 ...                    ...        ...        ...        ...       ...
 2022-11-18       60.990002  61.369999  60.799999  61.139999  10408700
 2022-11-21       61.410000  62.209999  61.200001  62.080002  15399400
 2022-11-22       62.470001  62.500000  62.049999  62.349998  12319600
 2022-11-23       62.490002  62.790001  62.299999  62.630001   8990400
 2022-11-25       62.730000  62.810001  62.380001  62.689999   5165500

 [732 rows x 5 columns],
 'CAT':                        open        high         low       close   volume
 start_date_time
 2020-01-02       149.000000  150.550003  147.979996  150.529999  3311900
 2020-01-03       148.770004  149.960007  147.449997  148.440002  3100600
 2020-01-06       147.270004  148.559998  146.539993  148.339996  2549600
 2020-01-07       147.350006  147.570007  145.509995  146.380005  2841900
 2020-01-08       146.830002  148.570007  146.460007  147.679993  2153200
 ...                     ...         ...         ...         ...      ...
 2022-11-18       230.850006  231.839996  227.630005  231.429993  2867400
 2022-11-21       231.550003  233.669998  228.270004  232.169998  2522600
 2022-11-22       234.000000  237.479996  233.360001  237.259995  2523300
 2022-11-23       237.630005  239.630005  235.610001  236.919998  2311300
 2022-11-25       237.000000  237.490005  235.190002  235.699997  1034800

 [732 rows x 5 columns],
 'CSCO':                       open       high        low      close    volume
 start_date_time
 2020-01-02       48.060001  48.419998  47.880001  48.419998  16708100
 2020-01-03       47.910000  48.139999  47.480000  47.630001  15577400
 2020-01-06       47.139999  47.820000  47.009998  47.799999  22183600
 2020-01-07       47.720001  47.720001  47.099998  47.490002  16501900
 2020-01-08       46.970001  47.790001  46.810001  47.520000  25175900
 ...                    ...        ...        ...        ...       ...
 2022-11-18       46.910000  48.040001  46.860001  47.790001  30840100
 2022-11-21       47.610001  48.290001  47.560001  47.619999  17049500
 2022-11-22       48.000000  48.419998  47.759998  48.380001  16367800
 2022-11-23       48.400002  48.990002  48.320000  48.570000  12065600
 2022-11-25       48.750000  49.049999  48.349998  48.400002   8492600

 [732 rows x 5 columns],
 'FDX':                        open        high         low       close   volume
 start_date_time
 2020-01-02       152.419998  155.100006  151.600006  155.100006  3027600
 2020-01-03       152.500000  153.339996  151.839996  153.179993  2216500
 2020-01-06       151.250000  153.550003  150.169998  153.300003  2389700
 2020-01-07       153.360001  155.220001  152.339996  154.800003  2140100
 2020-01-08       154.570007  157.750000  153.929993  157.130005  3053200
 ...                     ...         ...         ...         ...      ...
 2022-11-18       174.000000  175.139999  172.110001  174.720001  1845400
 2022-11-21       173.929993  175.160004  172.869995  173.639999  1385200
 2022-11-22       174.910004  176.860001  174.550003  175.669998  1457300
 2022-11-23       175.809998  176.889999  175.270004  176.360001  1758000
 2022-11-25       177.250000  177.770004  176.009995  176.699997   445300

 [732 rows x 5 columns],
 'F':                   open   high    low  close    volume
 start_date_time
 2020-01-02        9.29   9.42   9.19   9.42  43425700
 2020-01-03        9.31   9.37   9.15   9.21  45040800
 2020-01-06        9.10   9.17   9.06   9.16  43372300
 2020-01-07        9.20   9.25   9.12   9.25  44984100
 2020-01-08        9.23   9.30   9.17   9.25  45994900
 ...                ...    ...    ...    ...       ...
 2022-11-18       14.08  14.13  13.82  13.99  37082800
 2022-11-21       13.86  14.04  13.66  13.95  34087100
 2022-11-22       14.05  14.15  13.98  14.07  28738800
 2022-11-23       14.00  14.06  13.85  14.03  25974200
 2022-11-25       13.96  14.11  13.90  14.08  12980900

 [732 rows x 5 columns],
 'GS':                        open        high         low       close   volume
 start_date_time
 2020-01-02       231.000000  234.639999  230.160004  234.320007  3736300
 2020-01-03       231.600006  232.610001  230.300003  231.580002  2274500
 2020-01-06       229.929993  234.020004  229.490005  233.949997  3329300
 2020-01-07       235.000000  237.770004  234.759995  235.490005  5255200
 2020-01-08       235.679993  239.750000  235.479996  237.759995  3564700
 ...                     ...         ...         ...         ...      ...
 2022-11-18       381.279999  382.829987  377.390015  379.200012  2384500
 2022-11-21       378.899994  380.769989  375.420013  380.209991  1877500
 2022-11-22       381.399994  385.829987  381.399994  383.869995  2019400
 2022-11-23       383.899994  388.200012  383.410004  386.250000  1865400
 2022-11-25       385.760010  389.440002  385.179993  388.859985  1129300

 [732 rows x 5 columns],
 'INTC':                       open       high        low      close    volume
 start_date_time
 2020-01-02       60.240002  60.970001  60.220001  60.840000  18056000
 2020-01-03       59.810001  60.700001  59.810001  60.099998  15293900
 2020-01-06       59.590000  60.200001  59.330002  59.930000  17755200
 2020-01-07       59.779999  59.799999  58.889999  58.930000  21876100
 2020-01-08       58.889999  59.320000  58.520000  58.970001  23133500
 ...                    ...        ...        ...        ...       ...
 2022-11-18       30.260000  30.260000  29.610001  29.870001  27065900
 2022-11-21       29.660000  29.719999  28.910000  28.940001  36086800
 2022-11-22       29.139999  29.860001  29.059999  29.820000  25584100
 2022-11-23       29.730000  30.080000  29.490000  29.670000  23143900
 2022-11-25       29.680000  29.680000  29.340000  29.340000  11314900

 [732 rows x 5 columns],
 'JNJ':                        open        high         low       close   volume
 start_date_time
 2020-01-02       145.869995  146.020004  145.080002  145.970001  5777000
 2020-01-03       143.500000  145.369995  143.000000  144.279999  5752400
 2020-01-06       144.000000  144.199997  142.850006  144.100006  7731300
 2020-01-07       144.009995  145.449997  141.380005  144.979996  7382900
 2020-01-08       144.869995  145.979996  143.699997  144.960007  6605800
 ...                     ...         ...         ...         ...      ...
 2022-11-18       175.000000  176.639999  174.619995  176.199997  6554300
 2022-11-21       175.889999  176.550003  174.830002  175.970001  5706600
 2022-11-22       176.399994  177.190002  176.330002  176.820007  4707900
 2022-11-23       176.440002  177.399994  176.009995  177.009995  5389200
 2022-11-25       177.380005  178.119995  176.860001  177.240005  3058600

 [732 rows x 5 columns],
 'LOGI':                       open       high        low      close  volume
 start_date_time
 2020-01-02       47.349998  47.700001  47.259998  47.669998  176400
 2020-01-03       47.230000  47.529999  47.029999  47.209999  254000
 2020-01-06       46.750000  47.230000  46.689999  47.180000  164200
 2020-01-07       47.410000  47.450001  47.189999  47.310001   95200
 2020-01-08       47.560001  47.799999  47.369999  47.619999  142300
 ...                    ...        ...        ...        ...     ...
 2022-11-18       58.770000  59.009998  58.169998  58.930000  548000
 2022-11-21       57.400002  58.290001  57.320000  57.849998  563600
 2022-11-22       57.599998  58.209999  57.250000  57.959999  573900
 2022-11-23       58.000000  59.139999  57.959999  58.959999  387000
 2022-11-25       59.209999  59.570000  58.900002  59.080002  268800

 [732 rows x 5 columns],
 'MCD':                        open        high         low       close   volume
 start_date_time
 2020-01-02       198.000000  200.800003  197.809998  200.789993  3554200
 2020-01-03       199.389999  200.550003  198.850006  200.080002  2767600
 2020-01-06       199.600006  202.770004  199.350006  202.330002  4660400
 2020-01-07       201.869995  202.679993  200.509995  202.630005  4047400
 2020-01-08       202.619995  206.690002  202.199997  205.910004  5284200
 ...                     ...         ...         ...         ...      ...
 2022-11-18       273.920013  275.100006  272.119995  273.369995  2697100
 2022-11-21       274.649994  274.980011  273.100006  274.519989  2974200
 2022-11-22       275.000000  275.299988  274.299988  274.760010  2770400
 2022-11-23       275.549988  275.649994  272.880005  273.269989  2514800
 2022-11-25       274.510010  275.320007  272.859985  275.000000  1596600

 [732 rows x 5 columns],
 'MSFT':                        open        high         low       close    volume
 start_date_time
 2020-01-02       158.779999  160.729996  158.330002  160.619995  22622100
 2020-01-03       158.320007  159.949997  158.059998  158.619995  21116200
 2020-01-06       157.080002  159.100006  156.509995  159.029999  20813700
 2020-01-07       159.320007  159.669998  157.320007  157.580002  21634100
 2020-01-08       158.929993  160.800003  157.949997  160.089996  27746500
 ...                     ...         ...         ...         ...       ...
 2022-11-18       243.509995  243.740005  239.029999  241.220001  27591800
 2022-11-21       241.429993  244.669998  241.190002  242.050003  26394700
 2022-11-22       243.589996  245.309998  240.710007  245.029999  19665700
 2022-11-23       245.110001  248.279999  244.270004  247.580002  19508500
 2022-11-25       247.309998  248.699997  246.729996  247.490005   9200800

 [732 rows x 5 columns],
 'MS':                       open       high        low      close   volume
 start_date_time
 2020-01-02       51.200001  52.060001  51.169998  52.040001  7808000
 2020-01-03       51.220001  51.450001  50.830002  51.200001  6706000
 2020-01-06       50.669998  51.040001  50.459999  51.020000  7476700
 2020-01-07       51.040001  51.189999  50.709999  50.919998  4538100
 2020-01-08       50.959999  51.790001  50.900002  51.570000  6185200
 ...                    ...        ...        ...        ...      ...
 2022-11-18       90.269997  90.370003  88.589996  89.199997  5449800
 2022-11-21       89.059998  89.680000  88.570000  89.080002  4667100
 2022-11-22       89.589996  90.190002  89.300003  89.669998  3804100
 2022-11-23       89.720001  90.449997  89.669998  89.930000  4961400
 2022-11-25       89.650002  91.080002  89.470001  90.910004  2450100

 [732 rows x 5 columns],
 'NVDA':                        open        high         low       close    volume
 start_date_time
 2020-01-02        59.687500   59.977501   59.180000   59.977501  23753600
 2020-01-03        58.775002   59.457500   58.525002   59.017502  20538400
 2020-01-06        58.080002   59.317501   57.817501   59.264999  26263600
 2020-01-07        59.549999   60.442501   59.097500   59.982498  31485600
 2020-01-08        59.939999   60.509998   59.537498   60.095001  27710800
 ...                     ...         ...         ...         ...       ...
 2022-11-18       159.660004  160.020004  151.199997  154.089996  49167700
 2022-11-21       151.470001  154.770004  150.800003  153.169998  40473900
 2022-11-22       153.279999  160.580002  151.220001  160.380005  47286600
 2022-11-23       160.979996  165.270004  160.479996  165.190002  42724100
 2022-11-25       163.179993  164.869995  161.720001  162.699997  16793400

 [732 rows x 5 columns],
 '^IXIC':                          open          high  ...         close      volume
 start_date_time                              ...
 2020-01-02        9039.459961   9093.429688  ...   9092.190430  2862700000
 2020-01-03        8976.429688   9065.759766  ...   9020.769531  2586520000
 2020-01-06        8943.500000   9072.410156  ...   9071.469727  2810450000
 2020-01-07        9076.639648   9091.929688  ...   9068.580078  2381740000
 2020-01-08        9068.030273   9168.889648  ...   9129.240234  2472620000
 ...                       ...           ...  ...           ...         ...
 2022-11-18       11257.009766  11259.440430  ...  11146.059570  4175420000
 2022-11-21       11091.009766  11128.780273  ...  11024.509766  3977130000
 2022-11-22       11058.559570  11179.870117  ...  11174.410156  4186360000
 2022-11-23       11174.610352  11310.820312  ...  11285.320312  4431530000
 2022-11-25       11231.000000  11261.570312  ...  11226.360352  2184080000

 [732 rows x 5 columns],
 'PFE':                       open       high        low      close    volume
 start_date_time
 2020-01-02       37.286530  37.333965  36.888046  37.134724  16514072
 2020-01-03       36.736244  37.229603  36.688805  36.935486  14922848
 2020-01-06       36.831120  37.001900  36.717270  36.888046  15771951
 2020-01-07       37.115749  37.125237  36.698292  36.764706  20108107
 2020-01-08       36.774193  37.210625  36.764706  37.058823  16403507
 ...                    ...        ...        ...        ...       ...
 2022-11-18       48.639999  48.830002  47.869999  48.230000  20664300
 2022-11-21       48.099998  48.279999  47.720001  48.180000  14736000
 2022-11-22       48.340000  49.250000  48.240002  49.080002  16358600
 2022-11-23       48.959999  49.220001  48.520000  48.849998  10710800
 2022-11-25       48.930000  49.220001  48.840000  49.209999   6760200

 [732 rows x 5 columns],
 'SIE.BE':                        open        high         low       close  volume
 start_date_time
 2020-01-02       116.320000  118.500000  116.320000  118.459999     283
 2020-01-03       118.300003  118.300003  116.320000  116.320000     163
 2020-01-06       115.680000  116.180000  114.699997  116.180000     479
 2020-01-07       116.339996  116.820000  115.980003  116.639999     200
 2020-01-08       115.139999  116.480003  115.139999  116.379997     100
 ...                     ...         ...         ...         ...     ...
 2022-11-22       129.279999  129.899994  128.619995  129.899994     630
 2022-11-23       130.779999  131.059998  130.779999  131.059998      25
 2022-11-24       130.539993  131.779999  130.539993  130.559998     495
 2022-11-25       130.839996  131.580002  130.600006  131.580002     109
 2022-11-28       130.839996  131.460007  131.460007  131.460007     109

 [743 rows x 5 columns],
 'TCS.IL':                       open       high        low      close  volume
 start_date_time
 2020-01-02       21.200001  22.100000  21.200001  21.950001  165121
 2020-01-03       22.000000  22.000000  21.500000  21.600000  133861
 2020-01-06       21.400000  21.549999  21.150000  21.549999   58041
 2020-01-07       21.400000  21.600000  21.299999  21.450001   57310
 2020-01-08       21.450001  22.200001  21.350000  22.000000  154171
 ...                    ...        ...        ...        ...     ...
 2022-11-21        9.600000  10.250000   9.600000  10.250000  211680
 2022-11-22        3.193000   3.193000   3.193000   3.193000       0
 2022-11-23        3.193000   3.193000   3.193000   3.193000       0
 2022-11-24        3.193000   3.193000   3.193000   3.193000       0
 2022-11-25        3.193000   3.193000   3.193000   3.193000       0

 [734 rows x 5 columns],
 'UPS':                        open        high         low       close   volume
 start_date_time
 2020-01-02       117.680000  117.970001  115.230003  116.790001  4158100
 2020-01-03       114.970001  116.860001  114.839996  116.720001  2477800
 2020-01-06       115.449997  116.230003  114.370003  116.199997  3381600
 2020-01-07       115.860001  116.440002  115.070000  116.000000  1952300
 2020-01-08       115.379997  117.559998  115.320000  116.660004  2016000
 ...                     ...         ...         ...         ...      ...
 2022-11-18       178.509995  179.229996  176.759995  178.970001  3002300
 2022-11-21       178.149994  180.740005  177.899994  180.610001  2465600
 2022-11-22       181.470001  182.889999  180.470001  182.740005  2210300
 2022-11-23       183.360001  183.929993  182.710007  182.839996  1583500
 2022-11-25       183.649994  183.889999  182.210007  182.520004   912400

 [732 rows x 5 columns],
 'YNDX':                       open       high        low      close   volume
 start_date_time
 2020-01-02       43.830002  44.209999  43.590000  44.080002   973900
 2020-01-03       43.400002  43.770000  43.000000  43.209999  1399100
 2020-01-06       43.119999  43.299999  42.830002  43.099998  1161500
 2020-01-07       43.169998  43.430000  42.849998  43.169998  1265800
 2020-01-08       43.360001  44.060001  43.270000  43.770000  1335900
 ...                    ...        ...        ...        ...      ...
 2022-11-18       18.940001  18.940001  18.940001  18.940001        0
 2022-11-21       18.940001  18.940001  18.940001  18.940001        0
 2022-11-22       18.940001  18.940001  18.940001  18.940001        0
 2022-11-23       18.940001  18.940001  18.940001  18.940001        0
 2022-11-25       18.940001  18.940001  18.940001  18.940001        0

 [732 rows x 5 columns],
 'RUB=X':                       open       high        low      close  volume
 start_date_time
 2020-01-01       62.028301  62.028301  62.028301  62.028301       0
 2020-01-02       61.830002  62.147999  61.563000  61.830002       0
 2020-01-03       61.694199  62.224998  61.694199  61.694199       0
 2020-01-06       62.013802  62.323002  61.717499  62.029999       0
 2020-01-07       61.775101  62.086201  61.591702  61.775002       0
 ...                    ...        ...        ...        ...     ...
 2022-11-22       60.625000  61.241001  60.549301  60.625000       0
 2022-11-23       60.630001  60.945000  60.270500  60.630001       0
 2022-11-24       60.764999  60.764999  59.915001  60.764999       0
 2022-11-25       60.330002  60.915001  60.329899  60.330002       0
 2022-11-28       59.750000  60.825001  59.070000  59.410000       0

 [759 rows x 5 columns],
 'EURUSD=X':                      open      high       low     close  volume
 start_date_time
 2020-01-01       1.122083  1.122838  1.115947  1.122083       0
 2020-01-02       1.121894  1.122712  1.116682  1.122083       0
 2020-01-03       1.117081  1.118068  1.112570  1.117144       0
 2020-01-06       1.116246  1.120825  1.115810  1.116196       0
 2020-01-07       1.119583  1.119946  1.113487  1.119799       0
 ...                   ...       ...       ...       ...     ...
 2022-11-22       1.024569  1.029018  1.024338  1.024569       0
 2022-11-23       1.031109  1.038206  1.029813  1.031109       0
 2022-11-24       1.041623  1.044823  1.038368  1.041623       0
 2022-11-25       1.040810  1.042905  1.035615  1.040810       0
 2022-11-28       1.039825  1.042535  1.034447  1.039393       0

 [759 rows x 5 columns]}

In [12]:
print_df=pd.DataFrame()
for k in data_dic:
  print_df[k]=data_dic[k]["close"]
print_df

                       AMD         KO  ...      RUB=X  EURUSD=X
start_date_time                        ...
2020-01-02       49.099998  54.990002  ...  61.830002  1.122083
2020-01-03       48.599998  54.689999  ...  61.694199  1.117144
2020-01-06       48.389999  54.669998  ...  62.029999  1.116196
2020-01-07       48.250000  54.250000  ...  61.775002  1.119799
2020-01-08       47.830002  54.349998  ...  61.930901  1.115474
...                    ...        ...  ...        ...       ...
2022-11-18       73.570000  61.139999  ...  60.365002  1.036173
2022-11-21       72.459999  62.080002  ...  60.814999  1.033090
2022-11-22       75.250000  62.349998  ...  60.625000  1.024569
2022-11-23       76.400002  62.630001  ...  60.630001  1.031109
2022-11-25       75.139999  62.689999  ...  60.330002  1.040810

[732 rows x 22 columns]

In [15]:
print_df.to_csv("./output_files/yahoo.csv", sep=";")